#header_main {
    background-color: #343C97;
    height: 75px;
    color: white;
}
#nav_main {
    display: flex;
    justify-content: end;
    align-items: center;
}
.nav_links {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 18px;
}