.supportJob-main {
    /* background-color: rgb(240, 240, 240); */
}
.supJobImg {
    border: 1px solid rgb(202, 202, 202);
    border-radius: 20px;
}
.jobPlacement {
    background-color: rgb(240, 240, 240);
}
.ready-to {
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
}