.footer-main {
    background-color: #141414;
    color: white;
    padding: 50px 0 25px;
}

.social-icon {
    font-size: 30px;
    margin-right: 30px;
    color: white;
    transition: 0.3s;
}
.social-icon:hover {
    color: #5c6aff;
    transform: scale(1.1);
}
.trd-no {
    color: gray;
}
.ftr-hr {
    width: 100%;
}
.footer-bottom {
}
.copyright {
    text-align: center;
    color: rgb(198, 198, 198);
}